<div class="linkContainer">
  <a
    class="buttonNavegation"
    href="http://localhost:8080/api">
    Cargar mas productos
  </a>
</div>
<table class="products-table">
  <thead>
    <tr>
      <th class="products-tableColumn">Nombre</th>
      <th class="products-tableColumn">Precio</th>
      <th class="products-tableColumn">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <% if(productos.length!==0) { %>
      <% for (const producto of productos){ %>
        <tr>
          <td class="products-tableColumn"><%= producto.title %></td>
          <td class="products-tableColumn"><%= producto.price %></td>
          <td class="products-tableColumn">
            <div class="table-imgContainer">
              <img class="table-img" src="<%= producto.thumbnail %>" alt="juegoImg">
            </div>
          </td>
        </tr>  
      <% } %>
    <% } else { %>
      <h2>No existen productos</h2>
    <% } %>
  </tbody>
</table>
  